<header class="header">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
            {{#if env.SITE_SEARCH_PROVIDER}}
                <div class="navbar-item search hide-for-print">
                    <div id="search-field" class="field">
                        <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}}
                               autofocus{{/if}}>
                    </div>
                </div>
            {{/if}}
            <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false"
                    aria-label="Toggle main menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div id="topbar-nav" class="navbar-menu">
            <div class="navbar-end">

                <a class="navbar-item" href="{{relativize (resolvePageURL 'home::index.adoc')}}">Home</a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="#">Infrastructure & Platform</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="#">Internal Development Platform (IDP)</a>
                        <a class="navbar-item" href="#">Cloud - AWS</a>
                        <a class="navbar-item" href="#">Cloud - GCP</a>
                        <a class="navbar-item" href="#">On-Prem</a>
                        <a class="navbar-item" href="#">SRE</a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Customer
                        Interactions</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Product
                            Display &amp; Catalog Browsing</a>
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Shopping
                            Cart &amp; Checkout System</a>
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Customer
                            Reviews</a>
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">User
                            Dashboard and Profile Management</a>
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Mobile
                            Shopping Application (iOS &amp; Android)</a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Inventory
                        &amp; Product Management</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Product
                            Catalog</a>
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Inventory
                            Management System</a>
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Warehouse
                            Automation System</a>
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Supplier
                            and Vendor Management Portal</a>
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Product
                            Search and Filtering System</a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Sales
                        &amp; Marketing</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Email
                            Marketing Automation</a>
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Discount
                            and Promotion Engine</a>
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Affiliate
                            and Referral Program</a>
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">SEO
                            Optimization Dashboard</a>
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Push
                            Notification and Retargeting System</a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Payments
                        &amp; Transactions</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Payment
                            Gateway Integration</a>
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Digital
                            Wallet</a>
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Subscription
                            Billing System</a>
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Fraud
                            Detection and Prevention System</a>
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Tax
                            Calculation and Invoicing System</a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Analytics
                        &amp; Reporting</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Sales
                            and Revenue Dashboard</a>
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Customer
                            Behavior Analytics</a>
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Inventory
                            Analytics System</a>
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Marketing
                            Campaign Analytics</a>
                        <a class="navbar-item" href="{{relativize (resolvePageURL 'component-example::index.adoc')}}">Customer
                            Feedback Analysis Tool</a>
                    </div>
                </div>

            </div>
        </div>
    </nav>
</header>
